<%- include('partials/header.ejs') %>

<main>
	<section class="pokemon-cards">
		<% if (locals.pokemonList?.length) { %>
			<% for (let pokemon of pokemonList) { %>
				<article class="pokemon-card">
					<a class="pokemon-card__link" href="/detail/<%= pokemon.numero %>">
						<div class="pokemon-card__container">
							<img class="pokemon-card__image" src="/img/<%= pokemon.numero %>.png" />
							<h2 class="pokemon-card__title">#<%= pokemon.numero %> <%= pokemon.nom %></h2>
							<div class="pokemon-card__type-container">
									<% for (const type of pokemon.types) { %>
										<span class="pokemon-card__type pokemon-card__type--<%= type.name.toLowerCase().normalize("NFD").replace(/\p{Diacritic}/gu, "") %>"><%= type.name %></span>
									<% } %>
							</div>
						</div>
					</a>
				</article>
			<% } %>
		<% } %>
	</section>
</main>

<%- include('partials/footer.ejs') %>